
body {
  font-family: 'Fira Code', monospace;
  margin: 20px auto;
  max-width: 600px;
  background-color: #121212;
  color: #e0e0e0;
  background-image: radial-gradient(#444 1px, transparent 1px);
  background-size: 8px 8px;
}

.post-form {
  margin-bottom: 20px;
}

#username,
#content {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  font-size: 1rem;
  background-color: #222;
  color: #fff;
  border: 1px solid #444;
}

#timeline .post {
  border: 1px solid #444;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #1a1a1a;
}

.post p {
  font-family: 'Open Sans', sans-serif;
}

.post small {
  font-family: 'Merriweather', serif;
}

.post strong {
  font-family: 'Merriweather', serif;
}
